body {
    background: url("/img/bg.jpg");
    background-size:cover;
}

#up, #down {
    cursor:pointer;
    color:#F6C101;
}

#actualCard {
    width:240px;
    height:360px;
    background: url("/img/card texture.jpg");
    background-size:15px 15px;
}

#up, #down {
    transform:scale(3);
    transition:.2s all ease;
}
#up:hover, #down:hover {
    transform:scale(3.4);
}

 #drinkMessages  {
    opacity:1;
    color:black;
    transition:all .2s ease;
}    
#drinkMessages.blink {
    color:red;
    opacity:.8;
    transform:scale(2);
}